In [314]:
import pandas as pd


file_path = "data/DATASET_Asthma_Chronic_Disease_Indicators.csv"
asthma_data = pd.read_csv(file_path)
asthma_data.head()
asthma_data.columns
asthma_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueTypeID,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,LocationState
0,2010,2010,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,NaN,NaN,Nmbr,...,AST3_1,NaN,5,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
1,2010,2010,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,NaN,NaN,Nmbr,...,AST3_1,NaN,5,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
2,2010,2010,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,NaN,NaN,Nmbr,...,AST3_1,NaN,5,OVERALL,OVR,NaN,NaN,NaN,NaN,NaN
3,2010,2010,MD,Maryland,State Inpatient Data,Asthma,Hospitalizations for asthma,NaN,NaN,Nmbr,...,AST3_1,NaN,24,OVERALL,OVR,NaN,NaN,NaN,NaN,NaN
4,2010,2010,NE,Nebraska,State Inpatient Data,Asthma,Hospitalizations for asthma,NaN,NaN,Nmbr,...,AST3_1,NaN,31,GENDER,GENM,NaN,NaN,NaN,NaN,NaN

In [315]:
#extract useful columns
useful_cols_df = asthma_data[['YearStart', 'YearEnd','LocationDesc', 'Topic', 'DataValueType','Stratification1','Question', 'Response','DataValueUnit', 'DataValue', 'GeoLocation']]
useful_cols_df.head()

,YearStart,YearEnd,LocationDesc,Topic,DataValueType,Stratification1,Question,Response,DataValueUnit,DataValue,GeoLocation
0,2010,2010,Arkansas,Asthma,Number,Female,Hospitalizations for asthma,NaN,NaN,1904,"(34.74865012400045, -92.27449074299966)"
1,2010,2010,Arkansas,Asthma,Number,Male,Hospitalizations for asthma,NaN,NaN,979,"(34.74865012400045, -92.27449074299966)"
2,2010,2010,Arkansas,Asthma,Number,Overall,Hospitalizations for asthma,NaN,NaN,2885,"(34.74865012400045, -92.27449074299966)"
3,2010,2010,Maryland,Asthma,Number,Overall,Hospitalizations for asthma,NaN,NaN,9582,"(39.29058096400047, -76.60926011099963)"
4,2010,2010,Nebraska,Asthma,Number,Male,Hospitalizations for asthma,NaN,NaN,511,"(41.6410409880005, -99.36572062299967)"

In [318]:
import numpy as np
useful_cols_df['DataValue'].replace('', np.nan, inplace=True)
useful_cols_df.dropna(subset=['DataValue'], inplace=True)
useful_cols_df.head(30)
udf=useful_cols_df
#useful_cols_df = useful_cols_df.dropna(how = 'all')
udf = udf.loc[udf['DataValueType'] == 'Number']
udf = udf.loc[udf['Stratification1'] == 'Overall']
 
#udf = udf.loc[udf['DataValueType'] == 'Asthma mortality rate']
udf = udf[udf['Question'].str.contains('Asthma mortality rate')]
#udf2 = udf[udf['Question'].str.contains('Emergency')]

#udf = udf[udf['Question'].str.contains('Asthma mortality rate|Emergency|Hospit')]
#udf = udf.loc[udf['Question'] == 'Emergency department visit rate for asthma']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [319]:



udf

,YearStart,YearEnd,LocationDesc,Topic,DataValueType,Stratification1,Question,Response,DataValueUnit,DataValue,GeoLocation
17,2012,2012,Connecticut,Asthma,Number,Overall,Asthma mortality rate,,NaN,39,"(41.56266102000046, -72.64984095199964)"
18,2013,2013,Connecticut,Asthma,Number,Overall,Asthma mortality rate,,NaN,36,"(41.56266102000046, -72.64984095199964)"
20,2014,2014,Connecticut,Asthma,Number,Overall,Asthma mortality rate,,NaN,36,"(41.56266102000046, -72.64984095199964)"
23,2014,2014,Kansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,27,"(38.34774030000045, -98.20078122699965)"
25,2011,2011,Wisconsin,Asthma,Number,Overall,Asthma mortality rate,,NaN,64,"(44.39319117400049, -89.81637074199966)"
26,2012,2012,Wisconsin,Asthma,Number,Overall,Asthma mortality rate,,NaN,78,"(44.39319117400049, -89.81637074199966)"
27,2013,2013,Wisconsin,Asthma,Number,Overall,Asthma mortality rate,,NaN,75,"(44.39319117400049, -89.81637074199966)"
28,2014,2014,Wisconsin,Asthma,Number,Overall,Asthma mortality rate,,NaN,77,"(44.39319117400049, -89.81637074199966)"
557,2013,2013,Alabama,Asthma,Number,Overall,Asthma mortality rate,,NaN,42,"(32.84057112200048, -86.63186076199969)"
1377,2013,2013,California,Asthma,Number,Overall,Asthma mortality rate,,NaN,410,"(37.63864012300047, -120.99999953799971)"
2552,2014,2014,California,Asthma,Number,Overall,Asthma mortality rate,,NaN,407,"(37.63864012300047, -120.99999953799971)"
4190,2012,2012,Florida,Asthma,Number,Overall,Asthma mortality rate,,NaN,195,"(28.932040377000476, -81.92896053899966)"
4780,2010,2010,Alaska,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(64.84507995700051, -147.72205903599973)"
4804,2011,2011,Alaska,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(64.84507995700051, -147.72205903599973)"
4828,2012,2012,Alaska,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(64.84507995700051, -147.72205903599973)"
4852,2013,2013,Alaska,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(64.84507995700051, -147.72205903599973)"
4876,2014,2014,Alaska,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(64.84507995700051, -147.72205903599973)"
4898,2010,2010,Alabama,Asthma,Number,Overall,Asthma mortality rate,,NaN,61,"(32.84057112200048, -86.63186076199969)"
4922,2011,2011,Alabama,Asthma,Number,Overall,Asthma mortality rate,,NaN,36,"(32.84057112200048, -86.63186076199969)"
4946,2012,2012,Alabama,Asthma,Number,Overall,Asthma mortality rate,,NaN,57,"(32.84057112200048, -86.63186076199969)"
4993,2014,2014,Alabama,Asthma,Number,Overall,Asthma mortality rate,,NaN,57,"(32.84057112200048, -86.63186076199969)"
5017,2010,2010,Arkansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,37,"(34.74865012400045, -92.27449074299966)"
5041,2011,2011,Arkansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,46,"(34.74865012400045, -92.27449074299966)"
5066,2012,2012,Arkansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,30,"(34.74865012400045, -92.27449074299966)"
5090,2013,2013,Arkansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,36,"(34.74865012400045, -92.27449074299966)"
5114,2014,2014,Arkansas,Asthma,Number,Overall,Asthma mortality rate,,NaN,33,"(34.74865012400045, -92.27449074299966)"
5137,2010,2010,Arizona,Asthma,Number,Overall,Asthma mortality rate,,NaN,58,"(34.865970280000454, -111.76381127699972)"
5145,2012,2012,California,Asthma,Number,Overall,Asthma mortality rate,,NaN,384,"(37.63864012300047, -120.99999953799971)"
5162,2011,2011,Arizona,Asthma,Number,Overall,Asthma mortality rate,,NaN,92,"(34.865970280000454, -111.76381127699972)"
5186,2012,2012,Arizona,Asthma,Number,Overall,Asthma mortality rate,,NaN,80,"(34.865970280000454, -111.76381127699972)"
...,...,...,...,...,...,...,...,...,...,...,...
10066,2011,2011,Utah,Asthma,Number,Overall,Asthma mortality rate,,NaN,44,"(39.360700171000474, -111.58713063499971)"
10090,2012,2012,Utah,Asthma,Number,Overall,Asthma mortality rate,,NaN,28,"(39.360700171000474, -111.58713063499971)"
10115,2013,2013,Utah,Asthma,Number,Overall,Asthma mortality rate,,NaN,31,"(39.360700171000474, -111.58713063499971)"
10138,2014,2014,Utah,Asthma,Number,Overall,Asthma mortality rate,,NaN,31,"(39.360700171000474, -111.58713063499971)"
10139,2010,2010,Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,69,"(37.54268067400045, -78.45789046299967)"
10182,2011,2011,Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,89,"(37.54268067400045, -78.45789046299967)"
10202,2012,2012,Washington,Asthma,Number,Overall,Asthma mortality rate,,NaN,77,"(47.52227862900048, -120.47001078999972)"
10207,2012,2012,Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,107,"(37.54268067400045, -78.45789046299967)"
10226,2013,2013,Washington,Asthma,Number,Overall,Asthma mortality rate,,NaN,87,"(47.52227862900048, -120.47001078999972)"
10232,2013,2013,Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,87,"(37.54268067400045, -78.45789046299967)"
10250,2014,2014,Washington,Asthma,Number,Overall,Asthma mortality rate,,NaN,93,"(47.52227862900048, -120.47001078999972)"
10257,2014,2014,Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,103,"(37.54268067400045, -78.45789046299967)"
10288,2010,2010,Vermont,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.62538123900049, -72.51764079099962)"
10312,2011,2011,Vermont,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.62538123900049, -72.51764079099962)"
10336,2012,2012,Vermont,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.62538123900049, -72.51764079099962)"
10360,2013,2013,Vermont,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.62538123900049, -72.51764079099962)"
10384,2014,2014,Vermont,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.62538123900049, -72.51764079099962)"
10404,2010,2010,Washington,Asthma,Number,Overall,Asthma mortality rate,,NaN,75,"(47.52227862900048, -120.47001078999972)"
10429,2011,2011,Washington,Asthma,Number,Overall,Asthma mortality rate,,NaN,82,"(47.52227862900048, -120.47001078999972)"
10521,2010,2010,Wisconsin,Asthma,Number,Overall,Asthma mortality rate,,NaN,63,"(44.39319117400049, -89.81637074199966)"
10641,2010,2010,Wyoming,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.23554134300048, -108.10983035299967)"
10665,2011,2011,Wyoming,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.23554134300048, -108.10983035299967)"
10689,2012,2012,Wyoming,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.23554134300048, -108.10983035299967)"
10713,2013,2013,Wyoming,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.23554134300048, -108.10983035299967)"
10737,2014,2014,Wyoming,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(43.23554134300048, -108.10983035299967)"
18094,2010,2010,West Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,24,"(38.66551020200046, -80.71264013499967)"
18101,2013,2013,West Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,30,"(38.66551020200046, -80.71264013499967)"
18125,2012,2012,West Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(38.66551020200046, -80.71264013499967)"
18130,2014,2014,West Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,,"(38.66551020200046, -80.71264013499967)"
18370,2011,2011,West Virginia,Asthma,Number,Overall,Asthma mortality rate,,NaN,22,"(38.66551020200046, -80.71264013499967)"

In [320]:
#grp_daty_udf= udf.groupby('DataValueType')
#useful_cols_udf = udf[['YearStart', 'YearEnd','LocationDesc', 'Topic', 'Asthma mortality rate','Emergency department visit rate for asthma', 'Hospitalizations for asthma', 'Response','DataValueUnit', 'DataValue', 'GeoLocation']]
#grp_daty_udf.head()

#udf.pivot_table(values='DataValue',index=['YearStart','YearEnd','GeoLocation','LocationDesc','Topic', 'Response', 'DataValueUnit', 'GeoLocation'],
  #             columns=['Question', 'DataValueType'],aggfunc=np.mean)

In [333]:
#useful_cols_df.groupby(['YearStart','YearEnd','LocationDesc','DataValueType','Question']).mean()
#udf2 = udf.groupby('YearStart')['LocationDesc']['DataValue'].mean()
#udf.groupby(['YearStart', 'LocationDesc'])['DataValue'].apply(lambda x : x.astype(int).mean())

#udf3 = pd.DataFrame( udf.groupby(['YearStart', 'LocationDesc']).agg({'DataValue':sum}))
udf.pivot(index="LocationDesc",values="DataValue",columns="YearStart")

YearStart             2010  2011  2012  2013  2014
LocationDesc
Alabama                 61    36    57    42    57
Alaska
Arizona                 58    92    80    98    86
Arkansas                37    46    30    36    33
California             403   403   384   410   407
Colorado                48    42    55    51    41
Connecticut             45    24    39    36    36
Delaware
District of Columbia
Florida                177   148   195   188   191
Georgia                 97    96    93   101    96
Hawaii                        26          24    24
Idaho                   21          21    23    22
Illinois               183   176   174   192   167
Indiana                 69    73    72    69    73
Iowa                    46    43    35    36    54
Kansas                  33    25    26    32    27
Kentucky                44    33    25    36    35
Louisiana               36    37    40    56    61
Maine
Maryland                71    71    91    71    87
Massachusetts           50    69    58    67    76
Michigan               105   113   107   110    94
Minnesota               73    60    72    79    66
Mississippi             49    54    45    61    48
Missouri                76    48    75    53    89
Montana
Nebraska                26    32    26    25    30
Nevada                  27    20    20    27    25
New Hampshire
New Jersey              80    94   103   134   111
New Mexico              22    26    27          28
New York               283   257   284   283   302
North Carolina         101    99   123   112   106
North Dakota
Ohio                   151   127   145   130   116
Oklahoma                34    44    54    50    56
Oregon                  60    46    56    62    77
Pennsylvania           132   131   146   157   149
Rhode Island
South Carolina          66    70    81    61    74
South Dakota                  20
Tennessee               67    69    58    62    64
Texas                  192   195   206   213   212
United States         3404  3345  3531  3630  3651
Utah                    28    44    28    31    31
Vermont
Virginia                69    89   107    87   103
Washington              75    82    77    87    93
West Virginia           24    22          30
Wisconsin               63    64    78    75    77
Wyoming